# Java/Maven
/target/
*.class
*.jar
*.war
*.iml
*.log
.DS_Store
.idea/
*.swp

# OS
Thumbs.db

# VS Code
.vscode/

# Sensitive
src/main/resources/application-local.properties
src/main/resources/application.properties
